{% extends "index.html" %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center" style="width: 400px">
    <div id="login-box" class="text-center">

        <form action="/create_question/{{quiz_id}}" method="post">

            <div class="form-group mb-3">
                <label for="question_statement" class="text-info">Question Statement</label>
                <input type="text" name="question_statement" id="question_statement" class="form-control" required>
            </div>
            
            <div class="form-group mb-3">   
                <label for="option1" class="text-info">Option 1</label>
                <input type="text" name="option1" id="option1" class="form-control" required>
            </div>

            <div class="form-group mb-3">   
                <label for="option2" class="text-info">Option 2</label>
                <input type="text" name="option2" id="option2" class="form-control" required>
            </div>

            <div class="form-group mb-3">   
                <label for="option3" class="text-info">Option 3</label>
                <input type="text" name="option3" id="option3" class="form-control" required>
            </div>

            <div class="form-group mb-3">   
                <label for="option4" class="text-info">Option 4</label>
                <input type="text" name="option4" id="option4" class="form-control" required>
            </div>

            <div class="form-group mb-3">   
                <label for="answer" class="text-info">Correct Answer</label>
                <select name="answer" id="answer" class="form-control" required>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                    <option value="option4">Option 4</option>
                </select>
            </div>
          
            <button type="submit" class="btn btn-info btn-md w-100">Create Question</button>
        </form>
    </div>
</div>

{% endblock %}
