{% extends "index.html" %}

{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Quiz Master</a>
        
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
                <a class="nav-link active" href="/create_quiz/{{chapter.id}}"><i class="bi bi-plus-square-fill"></i> Quiz</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-left"></i> Logout</a>
            </li>


        </ul>


    </div>
</nav>

<div class="'container">
    <div class="row">
        <div class="col-md-10">
            <a href="/view_subject/{{chapter.subject_id}}" class="btn btn-primary "><i class="bi bi-arrow-left-square"></i> Back to chapters</a>
            <h3 class="text-center">Admin Dashboard</h3>
            
           
            <h4>Quizes</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Quiz name</th>
                        <th>Date of quiz</th>
                        <th>Time duration</th>
                        <th>Remarks</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>

                <tbody>
                    {% for quiz in quizs %}
                    <tr>
                        <td>{{ quiz.name }}</td>
                        <td>{{ quiz.date_of_quiz }}</td>
                        <td>{{ quiz.time_duration }}</td>
                        <td>{{ quiz.remarks }}</td>

                        <td>
                            <a href="/edit_quiz/{{ quiz.id }}" class="btn btn-info"><i class="bi bi-pen-fill"></i></i></a> |
                            <a href="/view_quiz/{{ quiz.id }}" class="btn btn-warning"><i class="bi bi-eye-fill"></i></a>|
                            <a href="/delete_quiz/{{ quiz.id }}"class="btn btn-danger"><i class="bi bi-trash3-fill"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}